@charset "UTF-8";

a:link {
   color: rgb(0, 255, 0);
}

a:visited {
   color: rgb(192, 255, 192);
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: rgb(255, 255, 255);
}

body {
   background-color: rgb(128, 128, 128);
   background-image: none;
   color: rgb(255, 255, 255);
}
