@charset "UTF-8";

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

a {
   text-decoration: none;
}

a:link {
   color: rgb(0, 0, 255);
}

a:visited {
   color: rgb(0, 0, 128);
}

a:hover {
   bottom: 1px;
   position: relative;
   text-decoration: underline;
}

a:active {
   color: rgb(0, 255, 0);
}

body {
   background-color: rgb(0, 192, 0);
   background-image: url(hhhbg.gif);
   color: rgb(0, 0, 0);
}

.bigger {
   font-size: 300%;
}

.bigtop {
   font-size: 250%;
   text-align: center;
}

.center {
   text-align: center;
}

.content {
   align-items: stretch;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.content .images {
   align-items: end;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
}

.email {
   font-family: monospace;
}

.endtag {
   font-size: 60%;
   font-style: italic;
   margin-left: 2em;
}

.footer {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.footer > div {
   padding: 15px;
}

.framed {
   border-style: solid;
   border-width: 1px;
}

.header {
   font-size: 150%;
}

.howdy {
   font-size: 125%;
}

.left {
   float: left;
}

.right {
   float: right;
}

.smaller {
   font-size: 75%;
   font-style: italic;
}

.smalltop {
   font-size: 150%;
   text-align: center;
}

.url {
   font-family: monospace;
}

.yell {
   font-size: 120%;
   text-align: center;
}
